# {{ ansible_managed }}
deb {{ _mariadb_mirror_base_url }}/{{ mariadb_version }}/{{ ansible_distro }} {{ ansible_distro_release }} main
# deb-src {{ _mariadb_mirror_base_url }}/{{ mariadb_version }}/{{ ansible_distro }} {{ ansible_distro_release }} main