---
name: Ansible Molecule

on:  # yamllint disable-line rule:truthy
  push:
    tags_ignore:
      - '*'
  pull_request:

jobs:
  setup:
    name: Setup scenarios matrix
    runs-on: ubuntu-22.04
    outputs:
      scenarios: ${{ steps.matrix.outputs.scenarios }}
    steps:
      - uses: actions/checkout@v4
      - id: matrix
        run: |
          JSON="["

          for s in $(find molecule -mindepth 1 -maxdepth 1 -type d -exec basename "{}" \;); do
              if [ -e "molecule/${s}/molecule.yml" ]; then
                  JSON="${JSON}\"${s}\","
              fi
          done

          JSON="${JSON%?}"
          JSON="$JSON]"
          echo "::set-output name=scenarios::$(echo $JSON)"

  lint:
    name: Lint
    needs:
      - setup
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Run ansible lint
        uses: ansible/ansible-lint@main
        with:
          args: ""
          setup_python: "true"
          working_directory: ""
          requirements_file: "./molecule/shared/tools/requirements.yml"


  test:
    name: Scenario "${{ matrix.scenario }}" on ${{ matrix.config.image }}:${{ matrix.config.tag }}
    needs:
      - lint
      - setup
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        scenario: ${{ fromJson(needs.setup.outputs.scenarios) }}
        config:
          - name: centos
            image: "quay.io/centos/centos"
            tag: "centos8"
          - name: rocky
            image: "rockylinux"
            tag: 8.7
          - name: rocky
            image: "rockylinux"
            tag: 9.1
          # - name: debian
          #   image: "debian"
          #   tag: "10"
          - name: debian
            image: "debian"
            tag: "11"
          - name: debian
            image: "debian"
            tag: "12"
          - name: debian
            image: "debian"
            tag: "13"
            mariadb_version: "11.8"
          - name: ubuntu
            image: "ubuntu"
            tag: "18.04"
          - name: ubuntu
            image: "ubuntu"
            tag: "20.04"
          - name: ubuntu
            image: "ubuntu"
            tag: "22.04"
          - image: ubuntu
            tag: "24.04"
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          path: "${{ github.repository }}"
      - name: molecule
        # latest version that request ansible 2.16.x as python3.6 support dropped at ansible-core==2.17
        # https://github.com/gofrolist/molecule-action/blob/v2.7.40/poetry.lock#L25
        uses: gofrolist/molecule-action@v2.7.40
        with:
          # molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }} -d docker
          molecule_working_dir: "${{ github.repository }}"
        env:
          image: ${{ matrix.config.image }}
          tag: ${{ matrix.config.tag }}
          name: ${{ matrix.config.name }}
          mariadb_version: ${{ matrix.config.mariadb_version }}
